<div class="content-wrapper">

<section class="content-header">
    <h1> Empresa <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Empresa</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content">

<div class="row">

    
    <div class="col-md-3">

      
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="assets/img/{{ usuario.avatar }}" alt="User profile picture">
          <h3 class="profile-username text-center">{{ usuario.name }}</h3>
          <p class="text-muted text-center">{{ usuario.tipo }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Ventas</b> <a class="pull-right">1,322</a>
            </li>
            <li class="list-group-item">
              <b>Compras</b> <a class="pull-right">543</a>
            </li>
            <li class="list-group-item">
              Registrado <a class="pull-right">{{ usuario.created_at | date }}</a>
            </li>
          </ul>

          <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
          <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">

          <div class="active tab-pane" id="activity">
                Actividad
          </div>

          <div class="tab-pane" id="timeline">
            
            <ul class="timeline timeline-inverse">

              <li class="time-label">
                <span class="bg-red">
                  10 Feb. 2014
                </span>
              </li>
              <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                  <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                  <div class="timeline-body">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                    quora plaxo ideeli hulu weebly balihoo...
                  </div>
                  <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs">Read more</a>
                    <a class="btn btn-danger btn-xs">Delete</a>
                  </div>
                </div>
              </li>
              
              <li>
                <i class="fa fa-user bg-aqua"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                  <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                </div>
              </li>
              
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="settings">
                <form name="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="nombre">* Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.name" name="nombre" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="email">* Correo:</label>
                        <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" placeholder="Correo" required>
                    </div>
                    <div class="form-group">
                        <label for="password">* Contraseña:</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password">
                    </div>
                    <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                    <button [disabled]="loading" class="btn btn-primary pull-right">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </form>
          </div>
        </div>
      </div>
    </div>

</div>

</section>