body{
    font-size: 14px;
}

a:focus, a:active{
    outline: none;
    border: none;
}

.center{
    text-align: center !important;
}

.no-padding-y{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.no-margin{
    margin: 0px;
}

.block{
    display: block;
}

.btn:hover, .btn-floating:hover{
    background-color: #01579b !important;
}

/* nav */
    .brand-logo{
        margin-top: 5px;
        /*background-color: #fff;*/
        padding: 5px;
        line-height: 40px;
        height: 40px; width: 40px;
        /*border-radius: 50%;*/
    }
    .navbar-fixed{
        position: fixed;
    }


    nav{
        /*padding: 0px 20px;*/
        -webkit-transition: all .3s; -moz-transition: all .5s; transition: all .5s;
        box-shadow:none !important;
        -webkit-box-shadow:none !important
    }

    .navbar-shrink nav{
        background-color: #F44336 !important;
    }

    #nav-buscador{
        top: -100px;
        position: absolute;
        width: 70%;
        left: 15%;
        transition: .2s all;
    }

    #nav-buscador input{
        padding: 0px 15px !important;
    }

    .navbar-shrink #nav-buscador{
        display: inline-block;
        top: 10px;
    }

    #buscador{
        display: flex;
        justify-content: center;
        margin-bottom: 50px !important;
    }

    #buscador input{
        text-align: center;
        width: 40%;
        padding: 5px 15px;
        border-bottom: 1px solid #ffffff;
        background-color: rgba(255,255,255,.2);
        transition: width .2s;
        border: none;
        box-shadow: none;
    }
    #buscador input:focus{    
        border: none;
        box-shadow: none;
        width: 60%;
        background-color: rgba(255,255,255,1);
    }
    #buscador input::placeholder {
        color: #ffffff;
    }
    #buscador input:focus::placeholder {
        color: #777;
    }

/* Carousel */
    .carousel.min{
        height: 40vh !important;
        background-image: url('/img/bg-header.jpg');
        background-size: cover;
    }

    .carousel.max{
        height: 65vh !important;
        background-image: url('/img/bg-header.jpg');
        background-size: cover;
    }

    .carousel.min > .carousel-item, .carousel.max > .carousel-item{
        padding-top: 70px;
    }

    .carousel-item.red{
        background-color: rgba(244, 67, 54, 0.95) !important;
    }

    .carousel-item h2{
        font-size: 3em !important;
    }

    .carousel-item p{
        font-size: 1.5em !important;
    }

.container{
  min-width: 90%;
}
.productos, .producto{
  margin-top: -40px;
}

.tab-section{
    min-height: 400px;
}

.section h2{
    margin-top: 0px;
}

.card .card-title {
    font-size: 2em;
}

.hoverable{
    transition: all .3s;
}

.hoverable:hover {
    transform: scale(1.01);
}

h2{
    font-size: 2.5em;
}
.btn-floating{
    background-color: #6c6c6c;
}

/* Cuenta */
    .tabs-account .col{
        padding: 0px;
    }

    .tabs-account a{
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
    }

    .tabs-account a.active{
        color: #fff;
        border-bottom: 3px solid #fff;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .tabs-account a i{
        margin-right: 5px;
    }

footer{
    background-color: #F44336 !important;
}

@media (max-width: 500px){

    body{
        font-size: 11px;
    }
    
}

#carrito{
  position: relative;
}

.dropdown-content{
    width: 300px;
}
span.cart-icon{
   position: absolute;
   color: #fff;
   height: 22px;
   width: 22px;
   text-align: center;
   background-color: #222;
   border-radius: 50%;
    top: 5px; 
    right: 5px; 
   font-size: 0.8em;
   line-height: 20px;
}

.highlight {
  -webkit-animation: highlight 1.5s;
  animation: highlight 1.5s;
}

@-webkit-keyframes highlight {
  50% {
    background-color: #ffff00;
    color: black;
    transform: scale(1.3);
  }
  100% {
    background-color: inherit;
    color: inherit;
    transform: scale(1);
  }
}

@keyframes highlight {
  50% {
    background-color: #ffff00;
    color: black;
    transform: scale(1.3);
  }

  100% {
    background-color: inherit;
    color: inherit;
    transform: scale(1);
  }
}


/* Login */

    .overlay {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #f5f5f5; height: 150px; z-index: 0; left: 0; right: 0; /*background-image: url("../img/bg-header.png");*/ background-size: cover; background-repeat: no-repeat; background-position: center center; content: ""; box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.14); }

    .login .card {position: relative; z-index: 1; top: 40px; background: #ffffff; }

    .img-responsive.logo{border: 1px solid #E0E0E0; border-radius: 50%; width: 70px; height: 70px; }

#dropcarrito a{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

#dropcarrito a.btn{
    display: block;
}
#dropcarrito img{
    width: 50px;
}
#dropcarrito p {
    margin-left: 10px;
}
#dropcarrito .scroll {
    max-height: 250px;
    overflow-y: scroll;
}   

.panel {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    margin-bottom: 35px;
    border-radius: 0px;
    position: relative;
    border: 0;
    display: inline-block;
    width: 100%;
}
.panel-default>.panel-heading {
    color: #607D8B;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    border-color: #e1eaef;
}
.userprofile.social {
    background: url() no-repeat top center;
    background-size: 100%;
    padding: 50px 0;
    margin: 0
}

.userprofile .userpic {
    height: 180px;
    width: 180px;
    clear: both;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    position: relative; 
}
.userprofile .userpic .userpicimg {
    height: auto;
    width: 100%;
    border-radius: 100%;
}
.userprofile.small .userpic {
    height: 40px;
    width: 40px;
    margin: 0 10px 0 0;
    display: block;
    border-radius: 100%;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    float: left;
}
.userprofile.small .textcontainer {
    float: left;
    max-width: 100px;
    padding: 0
}
.userprofile.small .userpic .userpicimg {
    min-height: 100%;
    width: 100%;
    border-radius: 100%;
}
.info-img{
    width: 100%;
    height: auto;
}




/*Scrool Chrome*/

    /* width */
    ::-webkit-scrollbar {width: 5px; }
    /* Track */
    ::-webkit-scrollbar-track {background: #f1f1f1; }

    /* Handle */ ::-webkit-scrollbar-thumb {background: #888; }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {background: #555; }



/* Producto */

    .carousel-img .carousel-item{
        width: 100%;
    }