<div class="content-wrapper">
    <section class="content-header">
        <h1> Clientes <small>Listado</small> </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#">Clientes</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <div class="input-group" style="width: 350px;">
                            <form name="form" (ngSubmit)="search(txt)">
                                <input type="text" name="search" class="form-control input-sm pull-right" placeholder="Buscar" [(ngModel)]="txt">
                            </form>
                                <div class="input-group-btn">
                                    <button (click)="search(txt)" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                    <a (click)="loadAll()" class="btn btn-sm btn-success"><i class="fa fa-refresh"></i></a>
                                    <a [routerLink]="['/cliente/nuevo']" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Correo</th>
                                    <th class="text-center"><i class="fa fa-cog"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="8" class="text-center" *ngIf="clientes.length <= 0"><span class="label label-info">Cargando...</span></td>
                                </tr>

                                <tr *ngFor=" let cliente of clientes.data">
                                    
                                    <td class="text-center">{{cliente.id}}</td>
                                    <td>{{cliente.nombre}}</td>
                                    <td>{{cliente.apellido}}</td>
                                    <td>{{cliente.email}}</td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-xs" role="group" style="width:50px;">
                                            <a class="btn btn-default" [routerLink]="['/cliente/', cliente.id]" data-toggle="tooltip" title="Editar">
                                            <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn btn-default" (click)="delete(cliente.id)" data-toggle="tooltip" title="Eliminar">
                                            <i class="fa fa-trash"></i></a>
                                        </div>  
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr *ngIf="clientes.last_page > 1">
                                    <td colspan="8" class="text-center">
                                        <nav>
                                        <ul class="pagination">
                                            <li class="page-item" [ngClass]="{'disabled': clientes.current_page == 1}">
                                                <a href="javascript:void(0)" (click)="setPaginacion(clientes.current_page - 1)" >Previous</a>
                                            </li>
                                            
                                            <li class="page-item" [ngClass]="{'active': page == clientes.current_page}" *ngFor="let page of paginacion" >
                                                <a href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                                            </li>

                                            <li class="page-item" [ngClass]="{'disabled': clientes.current_page == clientes.last_page}">
                                                <a href="javascript:void(0)" (click)="setPaginacion(clientes.current_page + 1)">Next</a>
                                            </li>
                                        </ul>
                                        </nav>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>