<div class="content-wrapper">

<section class="content-header">
    <h1> Cliente <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Clientes</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
            
            <form name="form" (ngSubmit)="onSubmit()">
                <div class="box box-primary">
                    
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nombre">* Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="apellido">* Apellido:</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" placeholder="Apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="email">* Correo:</label>
                            <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Correo" required>
                        </div>
                    </div>

                    <div class="box-footer">
                        <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                        <button [disabled]="loading" class="btn btn-primary pull-right">
                            <span *ngIf="!loading">Guardar</span>
                            <span *ngIf="loading">Guardando...</span>
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>
</div>