<div class="main-content">

        <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="card card-login">
                        <div class="card-header text-center" data-background-color="rose">
                            <h4 class="card-title">Login</h4>
                            <div class="social-line">
                                <a href="#btn" class="btn btn-just-icon btn-simple">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#eugen" class="btn btn-just-icon btn-simple">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <p class="category text-center">
                            Or Be Classical
                        </p>
                        <div class="card-content">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Email address</label>
                                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
                                <span class="material-input"></span></div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
                                <span class="material-input"></span></div>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" [disabled]="loading" class="btn btn-rose btn-simple btn-wd btn-lg">
                                <span *ngIf="!loading">Entrar</span>
                                <span *ngIf="loading">Iniciando...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <form method="#" action="#">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="avatar" src="./assets/img/faces/avatar.jpg" alt="...">
                        </a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Tania Andrew</h4>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Enter Password</label>
                            <input type="password" class="form-control">
                        <span class="material-input"></span></div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-rose btn-round">Unlock</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>