<div *ngIf="message" 
    [ngClass]="{ 'alert': message, 
    'alert-success': message.type === 'success', 
    'alert-danger': message.type === 'error' }">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

    {{message.text}}
</div>